<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>salepro.controller.management.product.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>salepro.controller.management.product.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>salepro.controller.management.product.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceDetailController</servlet-name>
        <servlet-class>salepro.controller.management.product.InvoiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOnwerShopController</servlet-name>
        <servlet-class>salepro.controller.LoginOnwerShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>salepro.controller.management.product.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMasterController</servlet-name>
        <servlet-class>salepro.controller.management.product.ProductMasterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttributeController</servlet-name>
        <servlet-class>salepro.controller.management.product.AttributeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceDetailController</servlet-name>
        <url-pattern>/InvoiceDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOnwerShopController</servlet-name>
        <url-pattern>/LoginOnwerShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
            <url-pattern>/productsidebarcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMasterController</servlet-name>
        <url-pattern>/productcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttributeController</servlet-name>
        <url-pattern>/attributecontroller</url-pattern>
    </servlet-mapping>
</web-app>
