<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>salepro.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>salepro.controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceDetailController</servlet-name>
        <servlet-class>salepro.controller.InvoiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>salepro.controller.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOnwerShopController</servlet-name>
        <servlet-class>salepro.controller.LoginOnwerShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>salepro.controller.HomepageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceDetailController</servlet-name>
        <url-pattern>/InvoiceDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOnwerShopController</servlet-name>
        <url-pattern>/LoginOnwerShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/HomepageController</url-pattern>
    </servlet-mapping>
</web-app>
